<h1> Sign Up</h1>

<%= render('layouts/errors', :object => @user) %>

<%= form_for @user do |form| %>

  <div class="field form-group">
    <%= form.label :email, class: "control-label" %> <br />
    <%= form.email_field :email %>
  </div>

  <div class="field form-group">
    <%= form.label :password, class: "control-label" %> <br />
    <%= form.password_field :password %>
  </div>

  <div class="field form-group">
    <%= form.label :password_confirmation, class: "control-label" %> <br />
    <%= form.password_field :password_confirmation %>
  </div>
  <br>
  <div class="actions"> <%= form.submit "Sign Up" %></div>
<%end%>
