<% if params[:user_id] %>
  <h1>Pictures from you: <%=current_user.email%></h1>
<% else %>
  <h1>All Pictures</h1>
<% end %>

<% if current_user %>
  <%= link_to "Post another Photo!", new_user_post_path(current_user.id), :class => "btn btn-success" %>
<% end %>

<br>
<hr>

<% favorited_post_ids = [] %>

<% if request.original_url.include?("users") %>
  <% @request_from = "user_posts" %>
<% else %>
  <% @request_from = "index_posts" %>
<% end %>

<% if current_user %>

  <% posts_favorited_by_user = Favorite.where(user_id: current_user.id) %>
  <% posts_favorited_by_user.each do |fave| %>
    <%= image_tag fave.post.image_upload.url %>
    <h4 class="description"><%= fave.post.description %></h4>
    <%= link_to "Un-Favorite!", favorite_path(id: fave.id, from: @request_from), :data => {:method => "delete"}, :class => "btn btn-warning favorite text-center" %>
    <% favorited_post_ids << fave.post_id %>
    <br>
    <hr class="photo-separator">
    <br>
  <% end %>

<% end %>

<% @posts.each do |post| %>

  <% if !favorited_post_ids.include? post.id %>

    <%= image_tag post.image_upload.url %>
    <h4 class="description"><%= post.description %></h4>

    <% if current_user %>
      <%= link_to "Favorite!", favorites_path(post_id: post.id, from: @request_from), :data => {:method => "post"}, :class => "btn btn-success favorite text-center" %>
    <% end %>
    <br>
    <hr class="photo-separator">
    <br>
  <% end %>

<% end %>
