<% if current_user %>
<h1>Pictures from you: <%=current_user.email%></h1>
  <%= link_to "Post another Photo!", new_user_post_path(current_user.id), :class => "btn btn-success" %>
<% else %>
<h1>Pictures of You: View All Pictures</h1>
<% end %>
<br>
<hr>

<% @posts.each do |post| %>
  <%= image_tag post.image_upload.url %>
  <h4 class="description"><%= post.description %></h4>
  <% if current_user %>
    <% fave = Favorite.find_by(post_id: post.id) %>
    <% if fave %>
    <% else %>
    <%= link_to "Favorite!", post_path(post.id), :data => {:method => "patch"}, :class => "btn btn-success favorite text-center" %>
    <% end %>
  <% end %>
<% end %>
