<h1>New Post</h1>

<%= render 'layouts/errors', :object => @post %>

<%= form_for @post, :html => { :multipart => true } do |form| %>
<div class="form-group">
  <%= form.label :fname, "Pick a photo:", class: "control-label" %>
  <%= form.file_field :image_upload %>
</div>
<div class="form-group">
  <%= form.label :fname, "Description:", class: "control-label" %>
  <%= form.text_field :description %>
</div>
  <%= submit_tag "Post", name: nil, class: "btn btn-success" %>
<% end %>
