<div class="title-design">
  <p>Share your pictures with the world!  Pick your favorites to show on your profile!</p>
</div>

<% if current_user %>
  <%= link_to "Post a Photo!", new_user_post_path(current_user.id), :class => "btn btn-success" %>
<% end %>

<hr>

<% @post = Post.order("image_upload_updated_at DESC").first %>
<% if @post %>
	<h4 class="description">Here is our newest submission!</h4>
	<%= image_tag @post.image_upload.url %>
	<h4 class="description"><%= @post.description %></h4>

  <% if current_user %>
    <% fave = Favorite.find_by(post_id: @post.id, user_id: current_user.id) %>
    <% if fave %>
      <%= link_to "Un-Favorite!", favorite_path(id: fave.id), :data => {:method => "delete"}, :class => "btn btn-warning favorite text-center" %>
    <% else %>
      <%= link_to "Favorite!", favorites_path(post_id: @post.id), :data => {:method => "post"}, :class => "btn btn-success favorite text-center" %>
    <% end %>
    <br>
    <br>
  <% end %>
<% end %>

